#sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    width: 200px;
    left: -200px;
    overflow: auto;
    z-index: 2;
    background-color: #FFFFFF;
    transition: transform 0.2s;
}

@media (min-width: 768px) {
    #sidebar {
        transform: translate(200px);
    }
}

#sidebar.active {
    transform: translate(200px);
}

.sidebar-toggle {
    color: #fff;
    cursor: pointer;
    font-size: 20px;
    line-height: 20px;
    margin-right: 10px;
}

.sidebar-toggle:hover {
    color: #fff;
    text-decoration: none;
}

#sidebar-brand {
    padding-left: 20px;
}

#sidebar ul {
    list-style: none;
}

#sidebar > ul {
    padding-left: 0;
}

#sidebar > ul > li:first-child {
    padding-top: 15px;
}

#sidebar strong {
    display: block;
    padding: 15px 22px;
    cursor: pointer;
}

#sidebar strong:hover {
    background-color: #E0E0E0;
}

#sidebar strong.active {
    background-color: #455A64;
    color: #FFFFFF;
}

#sidebar strong + ul > li {
    padding: 6px 0;
}