
#footer {
    height: 30px;
    margin-left: 0;
    transition: margin-left 0.2s;
}

@media (min-width: 768px) {
    #footer {
        margin-left: 200px;
    }
}

#footer {
    color: #fff;
}

#footer a {
    color: #fff;
    text-decoration: underline;
}